@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{ViewData["Title"] = "Index";}
<h1>My shopping Cart</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var lineItem in Model.LineItems)
        {
            <tr>
                <td>
                    @lineItem.Product.Title
                </td>
                <td>
                    1
                </td>
                <td>
                    $@lineItem.Cost
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td>Total: @Model.Total </td>
            <td></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-outline-success badge-success border-success" >@Html.ActionLink("CHECKOUT", "Edit", new { id = Model.Order.OrderId }) </button>
<form asp-controller="Orders" asp-action="Delete" method="post">
    <input type="submit" class="btn btn-danger bg-danger border-danger" value="Cancel Order" />
</form>